.CardProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CardProduct_info {
    padding-left: 20px
}

.CardProduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
}

.CardProduct_image {
    object-fit: contain;
    width: 200px;
    height: 200px;
    
  }

.CardProduct_rating {
    display: flex;
  }

.CardProduct_title {
    font-size: 17px;
    font-weight: 800;
}